@charset "UTF-8";

/*Cabeçalho*/

header{
    background-color: black;
    padding: 20px 0px 0px 0px;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    border-bottom: 6px solid yellow;
}

#Pontuação{
    width: 200px;   
}

.Titulos{
    color: rgb(255, 29, 29);
    font-size: 25px;
}

.Numeros{
    color: white;

    font-size: 22px;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

/*Campo do Jogo*/

section{
    background-image: url("../Imagens/Fundo.jpg");
    background-clip: border-box;
    height: 592px;
    display: flex;

    justify-content: center;
    align-items: center;
}

#Campo{
    width: 550px;
    height: 550px;
    border: 1px solid lightblue;
}

.Vidraça{
    height: 183px;
    display: flex;
    flex-direction: row;
}

.janela{
    width: 183px;
    height: 182px;
    border: 1px solid lightblue;
    background-color: red;
}

.Inimigo{
    background-image: url("../Imagens/Inimigo.png");
}

